
.small_space{
    margin-bottom: 3em;
}

.space{
    margin-bottom: 5em;
}

h1{
    text-align: center;
}

.explanation{
    text-align: center;
}

.image{
    text-align: center;
}
