body{
    background-image: url("skin_color.jpeg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

.space{
    margin-bottom: 5em;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5vh;
    place-items: center;
}

.cloth-wrapper{
    text-align: center;
    display: inline-block;
}

.detail_img{
    text-align: center;

    width: 15em;
    height: 20em;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: -270px;
    width: 270px;
    height: 100%;
    background: #ffe6b3;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    color :gray;
    text-align: center;
    line-height: 70px;
    background: #ffd480;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: gray;
    padding-left: 30%;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}


label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: gray;
    border-radius: 4px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 25px;
    color:white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -210px;
    top: 17px;
    font-size: 25px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;

}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 210px;
}


h1{
    text-align: center;
    text-decoration: none;
    margin-top: 1em;
    border-bottom: 1px solid orange;
    padding-bottom: 1em;
}